pybind11==2.6.1                  # Bindings
numpy==1.19.4                    # Bindings
pandas==1.1.5                    # Examples
matplotlib==3.3.3                # Examples
seaborn==0.11.0                  # Examples
scikit-learn==0.24.2             # Examples
scipy==1.5.4                     # Docs
jupyterlab==2.2.9                # Docs
ipympl==0.5.8                    # Docs
sphinx==4.4.0                    # Docs
pydata-sphinx-theme==0.7.2       # Docs
sphinx-markdown-tables==0.0.15   # Docs
nbsphinx==0.8.8                  # Docs
docutils==0.17.1                 # Docs
myst-parser==0.16.1              # Docs