pybind11==2.6.1                  # Bindings
numpy==1.19.4                    # Bindings
scipy==1.5.4                     # Examples, docs
pandas==1.1.5                    # Examples
matplotlib==3.3.3                # Examples
seaborn==0.11.0                  # Examples
jupyterlab==2.2.9                # Docs
ipympl==0.5.8                    # Examples
scikit-learn==0.24.2             # Examples
sphinx==4.0.2                    # Documentation
pydata-sphinx-theme==0.6.3       # Documentation
sphinx-markdown-tables==0.0.15   # Documentation
recommonmark==0.7.1              # Documentation